// ***README***
// These are settings that are (mostly) unique to the EssentialsHUD - this is not a full CastingEssentialsNext 
// config, see the CastingEssentials wiki (https://github.com/PazerOP/CastingEssentials/wiki) (now outdated) for detailed
// explinations for CE Next's features and commands to tailor the HUD to your needs. An updated wiki will eventually come!
//
// This file is set up so anyone wishing to use the HUD will have all the correct convars and settings set at game launch,
// and works as EssentialsTF has intended it to. If there are any issues with this config, please let @coreobs know!


// BASE CONFIGURATIONS
//

// Essentials
startupmenu
stuffcmds											// Stuff command line statements
r_decal_cullsize 1									// Display the startup level

// Run User Scripts if present
exec autoexec.cfg									// Your base autoexec. This needs to remain here and uncommented!
exec joystick.cfg									// Setup Custom Controller.
//exec hud_customizations.cfg							// A config for you to place any custom settings (or just comment out or change setting values in here!)
//exec hud_crosshair.cfg								// If you are using a crosshair other than the default TF2 crosshair, exec this with your own settings!


// HUD SETTINGS
//

// Base HUD convars
cl_hud_minmode 0									// Turns HUD minmode off/to zero.
tf_use_match_hud 0									// Turns off casual match HUD up the top.
ce_loadout_enabled 1								// Loadout icons
ce_hud_player_status_effects 1						// Player status effects (bleed, on-fire, etc.)
ce_hud_player_health_progressbars 1					// Player health bars.
ce_hud_progressbar_directions 		1 				// Enable for health/weapon progress bars
ce_hud_chargebars_enabled 1							// Player charge meters (ubercharge, banner etc.)
ce_localplayer_enabled 1							// Highlighted "Local Player" of spec target in the killfeed. Like if you were playing yourself.
ce_localplayer_track_spec_target 1					// 
ce_hud_statistics_target_id_enabled 1				// TargetID Kills/Assists/Deaths
ce_mediguninfo_separate_enabled 0					// Separate Medigun Info Panel - this doesn't exist for the Essentials HUD as we use HUD chargebars!
ce_hud_find_parent_elements 		0 				// 
ce_hud_forward_playerpanel_border 	1				//
ce_antifreeze_enabled 1								// Fixes the HUD and prevents the HUD from breaking during pauses.
ce_freezeinfo_enabled 1								// Shows currently paused for x time timer.
//ce_teamscores_enabled 1							// Team score panels
ce_hud_statistics_enabled 0							// Shows the KDA stats on each player panel

//Chargebar Settings (hiding and priorities, 0 = hidden, 1 = high priority, 2 = higher priority, etc.)
ce_hud_chargebars_priority_baby_face 0 				// Baby Face's Blaster
ce_hud_chargebars_priority_banana 0					// Second Banana
ce_hud_chargebars_priority_banner_battalions 1		// Battalions Backup
ce_hud_chargebars_priority_banner_buff 1			// Buff Banner
ce_hud_chargebars_priority_banner_conch 1			// The Concheror 
ce_hud_chargebars_priority_bonk 1					// Bonk! Atomic Punch
ce_hud_chargebars_priority_cleaners_carbine 0		// Cleaner's Carbine
ce_hud_chargebars_priority_cleaver 0				// Flying Guillotine
ce_hud_chargebars_priority_cloak_and_dagger 1		// The Cloak and Dagger
ce_hud_chargebars_priority_crit_cola 0				// Crit-a-Cola
ce_hud_chargebars_priority_dalokohs 0				// The Dalokohs Bar 
ce_hud_chargebars_priority_dead_ringer 0			// The Dead Ringer 
ce_hud_chargebars_priority_gas_passer 1				// The Gas Passer 
ce_hud_chargebars_priority_hitmans_heatmaker 2		// The Hitman's Heatmaker 
ce_hud_chargebars_priority_invis_watch 1			// Invis Watch (stock)
ce_hud_chargebars_priority_jarate 3					// The Jarate
ce_hud_chargebars_priority_jetpack 1				// The Thermal Thruster 
ce_hud_chargebars_priority_medigun_kritz 1			// The Kritzkrieg
ce_hud_chargebars_priority_medigun_quickfix 1		// The Quick-Fix 
ce_hud_chargebars_priority_medigun_uber 1			// Medigun (stock)
ce_hud_chargebars_priority_medigun_vaccinator 1		// The Vaccinator 
ce_hud_chargebars_priority_milk 5					// Mad Milk
ce_hud_chargebars_priority_phlog 2					// The Phlogistinator
ce_hud_chargebars_priority_razorback 0				// The Razorback 
ce_hud_chargebars_priority_sandman 0				// The Sandman 
ce_hud_chargebars_priority_sandvich 0				// The Sandvich 
ce_hud_chargebars_priority_shield_splendid 1		// The Splendid Screen 
ce_hud_chargebars_priority_shield_targe 1			// The Chargin' Targe 
ce_hud_chargebars_priority_shield_tide 1			// The Tide Turner 
ce_hud_chargebars_priority_soda_popper 0			// The Soda Popper 
ce_hud_chargebars_priority_spycicle 0				// The Spy-cicle 
ce_hud_chargebars_priority_steak_sandvich 0			// The Buffalo Steak Sandvich 
ce_hud_chargebars_priority_wrap_assassin 0			// The Wrap Assassin 

// Chargebar Text
// If it's not below, it uses the default string/name.
ce_hud_chargebars_text_banner_battalions "Battalion's"
ce_hud_chargebars_text_banner_buff "#TF_Unique_Achievement_SoldierBuff"
ce_hud_chargebars_text_banner_conch "#TF_SoldierSashimono"
ce_hud_chargebars_text_cloak_and_dagger "Cloak & Dagger"

// Medigun Text
ce_mediguninfo_embedded_medigun_text "#TF_Weapon_Medigun"
ce_mediguninfo_embedded_kritzkrieg_text "#TF_Unique_Achievement_Medigun1"
ce_mediguninfo_embedded_quickfix_text "#TF_Unique_MediGun_QuickFix"
ce_mediguninfo_embedded_vaccinator_text "#TF_Unique_MediGun_Resist"

// Damage Numbers & Overhead Effects
ce_hitevents_enabled 1								// Requires SRCTV+ on the server!
ce_hitevents_dmgnumbers_los 1						// Only show damage numbers if player can be seen.
ce_hitevents_healing_crossbow_only 1				// Show only healing numbers for crossbow bolts. This prevents dispensers,
													// mediguns, etc from showing up continous healing numbers.
hud_combattext 1									// Enable damage numbers, and set color.
hud_combattext_red 235								// 
hud_combattext_green 235							// 
hud_combattext_blue 235								// 
hud_combattext_doesnt_block_overhead_text 1			// Prevent blocking of "Crit!" text and other overhead effects.
tf_dingalingaling 0 								// Turn off Hitsounds - Feel free to comment this out.
tf_dingalingaling_lasthit 0 						// Turn off Killsounds - Feel free to comment this out.

// CAMERA & OBSERVING SETTINGS
//

// Camera Settings
ce_cameraautoswitch_enabled 1						// Swap POV automatically upon death.
ce_cameraautoswitch_killer 1						// Autoswitch to the killer of your current target.
ce_cameraautoswitch_killer_delay 0.5				// Delay before autoswitch swaps the POV to an alive target.
ce_cameratools_force_valid_target 1					// 
ce_cameratools_fix_view_heights 1					// Stops the "in the ground" POV.
ce_cameratools_spec_player_alive 1					// Prevents spectating dead players.
ce_cameratools_autodirector_mode 	0				//

// RGL Style Camera Smoothing - Settings @coreobs has used in the past.
ce_smoothing_enabled 0 								// Enables smooth swapping (fly to other player).
ce_smoothing_check_los 1 							// Ensures that the camera won't fly through walls.
ce_smoothing_max_distance 1000 						// No more smoothing across an entire map.
ce_smoothing_linear_speed 1600	 					// Lower speed so its not disorienting
ce_smoothing_bezier_duration 0.5 					// 
ce_smoothing_bezier_dist 700 						//
ce_smoothing_mode 1 								//
ce_smoothing_fov 55 								//
ce_smoothing_force_distance 128						//

// Sniper LOS Sightlines - Disabled by default, but the settings below match the HUD.
//ce_sniperlos_enabled 1
//ce_sniperlos_width 2
//ce_sniperlos_color_blu "57 92 120 125"
//ce_sniperlos_color_red "157 49 47 125"

// MISC. SETTINGS
//

// Steam Rich Presence
// This shows up in the "Playing Team Fortress 2" area - https://github.com/PazerOP/CastingEssentials/wiki/Steam-Tools
ce_steamtools_rich_presence "Live on twitch.tv/stream"
ce_steamtools_rp_legacy "Live on twitch.tv/stream"
ce_steamtools_rp_currentmap "Live on twitch.tv/stream"
ce_steamtools_rp_state "PlayingMatchGroup"
ce_steamtools_rp_matchgroup "Competitive6v6"

// Remove Restrictions
// You can (if you wish) remove the forced event celebration modes using these commands.
ce_consoletools_flags_remove sv_cheats replicated; sv_cheats 1;
ce_consoletools_flags_remove sv_friction replicated
ce_consoletools_flags_remove tv_allow_camera_man replicated

// Other CE convars
//ce_graphics_disable_prop_fades 1
//ce_fovoverride_enabled 1
ce_graphics_fix_invisible_players 1					// Fixes invisible players (so you don't have to "record fix; stop;").
ce_killstreaks_enabled 1							// 
ce_killstreaks_hide_firstperson_effects 1			// Hides the first person killstreak effects?
ce_outlines_spy_visibility 1						// Show outlines on invisible spies.
ce_texturetools_full_res_rts 0 						// Create the refraction and water reflection textures at framebuffer resolution
ce_weapon_inspect_block 1							// Prevent weapon inspecting from making it through STV.
//ce_weapon_skin_downsample 0 						// 0 = highest quality, 10 = lowest quality