// Load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// Run a user script file if present
exec autoexec.cfg

// Stuff command line statements
stuffcmds

// Display the startup level
startupmenu
sv_unlockedchapters 99

// Apply HUD settings
cl_hud_minmode 0
tf_use_match_hud 0
vgui_cache_res_files 0
//ce_teamscores_enabled 1					// Team score panels
//ce_loadout_enabled 1						// Loadout icons
//ce_hud_player_status_effects 1			// Player status effects (bleed, on-fire, etc.)
//ce_hud_player_health_progressbars 1		// Player health bars.
//ce_hud_chargebars_enabled 1				// Player charge meters (ubercharge, banner etc.)